*{
    padding: 0;
    margin: 0;
    font-family: 'Quantico', sans-serif;
}

/* Menú Principal */

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

h1{
    margin-top: 2rem;
}

#grid{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.imagen_PJ1{
    width: 100%;
    height: 100%;
    background-color: blue;
}

.teclas_PJ1{
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: blue;
}

.imagen_PJ2{
    width: 100%;
    height: 100%;
    background-color: red;
}

.teclas_PJ2{
    width: 100%;
    height: 100%;
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: red;
}

.cont_records{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.grid_records{
    width: 100%;
    height: 100%;
    display: grid;
    grid-column: repeat(2, 1fr);
    grid-template-rows: 1fr;
    text-align: center;
}

.nombre{
    grid-column: 1/2;
    border-width: 2px 1px 2px 2px;
    border-style: solid;
    border-color: black;
}

.tiempo{
    grid-column: 2/3;
    border-width: 2px 2px 2px 1px;
    border-style: solid;
    border-color: black;
}

.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.boton{
    width: 10rem;
    height: 2.5rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    font-size: large;
}

#jugar{
    background-color: blueviolet;
}

#como_jugar{
    background-color: rgb(0, 121, 241);
}

#kemusic{
    background-color: forestgreen;
}


/*** Div Carrusel ***/

#contenedor-carrusel{
    position: absolute;
}

.carousel{
    width: 35rem;
    height: 30rem;
    background-color: rgb(51, 53, 153);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.carruseles{
    width: 300%;
    height: 100%;
    display: flex;
}

.slider-section{
    width: calc(100% / 3);
    height: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
}

.parrafo{
    margin: 0;
}

.slider-section img{
    width: 80%;
    height: auto;
    background-color: aqua;
    border-radius: 15px;
}

#btn-left, #btn-right{
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    background-color: rgba(27, 0, 177, 0.3);
    color: darkgray;
    transform: translate(0, -50%);
    transition: 0.5s ease;
    user-select: none;
    border-style: none;
}

#btn-left{
    left: 10px;
}

#btn-right{
    right: 10px;
}

#btn-left:hover, #btn-right:hover{
    background-color: rgb(27, 0, 177);
    color: white;
}

.aceptar{
    background-color: rgb(0, 121, 241);
}

.deshabilitado{
    pointer-events: none;
}