*{
    padding: 0;
    margin: 0;
    font-family: 'Quantico', sans-serif;
}

main{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 1vw;
    background-image: url(../img/FondoJuego.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#fondo{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
}

#timer{
    width: 100%;
    height: 40%;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10vw;
}

#div_letra{
    grid-row: 1/2;
}

#div_PJ1{
    grid-row: 2/3;
    grid-template-columns: repeat(10, 1fr);
}

#div_PJ2{
    grid-row: 3/4;
    grid-template-columns: repeat(10, 1fr);
}

#div_flecha{
    grid-row: 4/5;
}

#div_letra, #div_PJ1, #div_PJ2, #div_flecha{
    display: grid;
    align-items: center;
}

#letra, #flecha{
    width: 5vw;
    height: 5vw;
    justify-self: center;
}

#PJ1, #PJ2{
    width: 8vw;
    height: 8vw;
    justify-self: center;
}